@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;

}

.Register__container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,black,rgb(33, 32, 32) , rgb(100, 99, 99));
    background: -webkit-linear-gradient(to right,black,rgb(33, 32, 32) , rgb(100, 99, 99)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to right,black,rgb(33, 32, 32) , rgb(100, 99, 99)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to right,black,rgb(33, 32, 32) , rgb(100, 99, 99)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,black,rgb(33, 32, 32) , rgb(100, 99, 99)); /* Standard syntax */

}

.Register__content {
   width: auto;
    background-color: white;
    padding: 3rem;
    border-radius: 10px;
    text-align: center;

}

.Register__content h2, h3 {
    margin: 0;
    padding: 0;
    
}

.Register__content h3 {
    margin-bottom: 50px;

}

.--Disable {
    display: none;
    
}


/*MOBILE VERSION*/

@media screen and (max-width: 450px) {

    .Register__content {
        width: 70%;
        min-width: 230px;
        background-color: white;
        padding: 3rem;
        border-radius: 10px;
        text-align: center;
     
    }
  
}